﻿@model FitTracker.Web2.Models.Home.IndexModel

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Fit Tracker</h1>
    <p class="lead"></p>
    <p><a href="@Url.Action("Index", "Applicant")" class="btn btn-primary btn-lg">Applications</a></p>
</div>*@

<h2>Clients</h2>

<div class="row">
    <table data-toggle="table">
        <thead>
            <tr>
                <th>Applicant Id</th>
                <th>Fitbit Id</th>
                <th>Withings Id</th>
                <th>Jawbone Id</th>
                <th>Runkeeper Id</th>
                <th>Strava Id</th>
                <th>Misfit Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clients)
            {
                <tr>
                    <td>@item.ApplicantId</td>
                    <td><a href="/Home/TotalFitbit?userId=@item.FitbitId">@item.FitbitId</a></td>
                    <td><a href="/Home/TotalWithings?userId=@item.WithingsId">@item.WithingsId</a></td>
                    <td><a href="/Home/TotalJawbone?userId=@item.JawboneId">@item.JawboneId</a></td>
                    <td><a href="/Home/TotalRunkeeper?userId=@item.RunkeeperId">@item.RunkeeperId</a></td>
                    <td><a href="/Home/TotalStrava?userId=@item.StravaId">@item.StravaId</a></td>
                    <td><a href="/Home/TotalMisfit?userId=@item.MisfitId">@item.MisfitId</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>