﻿@model FitTracker.Web2.Models.Home.TotalWithingsModel

@{
    ViewBag.Title = "Result Withings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<h2>@Model.Message</h2>

<h3>Activity Measures</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Steps</th>
            <th>Distance</th>
            <th>Calories</th>
            <th>Elevation</th>
            <th>Soft</th>
            <th>Moderate</th>
            <th>Intense</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivityMeasures)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Steps</td>
                <td>@item.Distance</td>
                <td>@item.Calories</td>
                <td>@item.Elevation</td>
                <td>@item.Soft</td>
                <td>@item.Moderate</td>
                <td>@item.Intense</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Body Measures</h3>
<table data-toggle="table" data-row-style="rowStyle">
    <thead>
        <tr>
            <th>GrpId</th>
            <th>Attrib</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BodyMeasures)
        {
            <tr>
                <td>@item.GrpId</td>
                <td>@item.Attrib</td>
                <td>@item.Date</td>
                <td>@item.Category</td>
            </tr>
            <tr data-type="azure">
                <td>Value</td>
                <td>Type</td>
                <td>Unit</td>
                <td></td>
            </tr>
            foreach (var item2 in item.Measures)
            {
                <tr data-type="greenyellow">
                    <td>@item2.Value</td>
                    <td>@item2.Type</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>Intraday Activities</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Duration</th>
            <th>Steps</th>
            <th>Elevation</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IntradayActivities)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Calories</td>
                <td>@item.Duration</td>
                <td>@item.Steps</td>
                <td>@item.Elevation</td>
                <td>@item.Distance</td>
            </tr>
        }
    </tbody>
</table>

<h3>Sleep Measures</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SleepMeasures)
        {
            <tr>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.State</td>
            </tr>
        }
    </tbody>
</table>

<h3>Sleep Summaries</h3>
<table data-toggle="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Timezone</th>
        <th>Model</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Date</th>
        <th>WakeUpDuration</th>
        <th>LightSleepDuration</th>
        <th>DeepSleepDuration</th>
        <th>RemSleepDuration</th>
        <th>DurationToSleep</th>
        <th>DurationToWakeup</th>
        <th>WakeupCount</th>
        <th>Modified</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SleepSummaries)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Timezone</td>
            <td>@item.Model</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.Date</td>
            <td>@item.WakeUpDuration</td>
            <td>@item.LightSleepDuration</td>
            <td>@item.DeepSleepDuration</td>
            <td>@item.RemSleepDuration</td>
            <td>@item.DurationToSleep</td>
            <td>@item.DurationToWakeup</td>
            <td>@item.WakeupCount</td>
            <td>@item.Modified</td>
        </tr>
    }
    </tbody>
</table>

<script>
    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (row._data.type == "azure") {
            return {
                classes: "success"
            }
        }
        else if (row._data.type == "greenyellow") {
            return {
                classes: "warning"
            }
        }

        return {};
    }
</Script>