﻿@model FitTracker.Web2.Models.Home.TotalFitbitModel

@{
    ViewBag.Title = "Result Fitbit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<h2>@Model.Message</h2>

<h3>Activity Log</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>ActivityId</th>
            <th>ActivityParentId</th>
            <th>Calories</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>HasStartTime</th>
            <th>IsFavorite</th>
            <th>LogId</th>
            <th>Name</th>
            <th>StartTime</th>
            <th>Steps</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivityLogs)
        {
            <tr>
                <td>@item.ActivityId</td>
                <td>@item.ActivityParentId</td>
                <td>@item.Calories</td>
                <td>@item.Description</td>
                <td>@item.Distance</td>
                <td>@item.Duration</td>
                <td>@item.HasStartTime</td>
                <td>@item.IsFavorite</td>
                <td>@item.LogId</td>
                <td>@item.Name</td>
                <td>@item.StartTime</td>
                <td>@item.Steps</td>
            </tr>
        }
    </tbody>
</table>

<h3>Activity Summary</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>ActivityCalories</th>
            <th>CaloriesBMR</th>
            <th>Elevation</th>
            <th>Floors</th>
            <th>MarginalCalories</th>
            <th>VeryActiveMinutes</th>
            <th>CaloriesOut</th>
            <th>FairlyActiveMinutes</th>
            <th>LightlyActiveMinutes</th>
            <th>SedentaryMinutes</th>
            <th>Steps</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivitySummary)
        {
            <tr>
                <td>@item.ActivityCalories</td>
                <td>@item.CaloriesBMR</td>
                <td>@item.Elevation</td>
                <td>@item.Floors</td>
                <td>@item.MarginalCalories</td>
                <td>@item.VeryActiveMinutes</td>
                <td>@item.CaloriesOut</td>
                <td>@item.FairlyActiveMinutes</td>
                <td>@item.LightlyActiveMinutes</td>
                <td>@item.SedentaryMinutes</td>
                <td>@item.Steps</td>
            </tr>
        }
    </tbody>
</table>

<h3>Activity Distance</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivityDistances)
        {
            <tr>
                <td>@item.Activity</td>
                <td>@item.Distance</td>
            </tr>
        }
    </tbody>
</table>

<h3>Activity Goals</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>CaloriesOut</th>
            <th>Steps</th>
            <th>Distance</th>
            <th>Floors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivityGoals)
        {
            <tr>
                <td>@item.CaloriesOut</td>
                <td>@item.Steps</td>
                <td>@item.Distance</td>
                <td>@item.Floors</td>
            </tr>
        }
    </tbody>
</table>

<h3>Body</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Bicep</th>
            <th>BMI</th>
            <th>Calf</th>
            <th>Chest</th>
            <th>Fat</th>
            <th>Forearm</th>
            <th>Hips</th>
            <th>Neck</th>
            <th>Thigh</th>
            <th>Waist</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Body)
        {
            <tr>
                <td>@item.Bicep</td>
                <td>@item.BMI</td>
                <td>@item.Calf</td>
                <td>@item.Chest</td>
                <td>@item.Fat</td>
                <td>@item.Forearm</td>
                <td>@item.Hips</td>
                <td>@item.Neck</td>
                <td>@item.Thigh</td>
                <td>@item.Waist</td>
                <td>@item.Weight</td>
            </tr>
        }
    </tbody>
</table>

<h3>Body Goals</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BodyGoals)
        {
            <tr>
                <td>@item.Weight</td>
            </tr>
        }
    </tbody>
</table>

<h3>Food Logs</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>IsFavorite</th>
            <th>LogDate</th>
            <th>LogId</th>
            <th>LoggedFood - AccessLevel</th>
            <th>LoggedFood - Amount</th>
            <th>LoggedFood - Brand</th>
            <th>LoggedFood - Calories</th>
            <th>LoggedFood - FoodId</th>
            <th>LoggedFood - MealTypeId</th>
            <th>LoggedFood - Locale</th>
            <th>LoggedFood - Name</th>
            <th>LoggedFood - FoodLogUnit - Name</th>
            <th>LoggedFood - FoodLogUnit - Plural</th>
            <th>NutritionalValues - Calories</th>
            <th>NutritionalValues - Carbs</th>
            <th>NutritionalValues - Fat</th>
            <th>NutritionalValues - Fiber</th>
            <th>NutritionalValues - Protein</th>
            <th>NutritionalValues - Sodium</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodLogs)
        {
            <tr>
                <td>@item.IsFavorite</td>
                <td>@item.LogDate</td>
                <td>@item.LogId</td>
                <td>
                    @if (item.LoggedFood != null)
                    {
                        @item.LoggedFood.AccessLevel
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
                <td>
                    @if (item.LoggedFood != null)
                    { @item.LoggedFood.Amount }
                    else
                    { @String.Empty }
            </td>
            <td>
                @if (item.LoggedFood != null)
                { @item.LoggedFood.Brand }
                else
                { @String.Empty }
        </td>
        <td>
            @if (item.LoggedFood != null)
            { @item.LoggedFood.Calories }
            else
            { @String.Empty }
    </td>
    <td>
        @if (item.LoggedFood != null)
        { @item.LoggedFood.FoodId }
        else
        { @String.Empty }
</td>
<td>
    @if (item.LoggedFood != null)
    { @item.LoggedFood.MealTypeId }
    else
    { @String.Empty }
</td>
<td>
    @if (item.LoggedFood != null)
    { @item.LoggedFood.Locale }
    else
    { @String.Empty }
</td>
<td>
    @if (item.LoggedFood != null)
    { @item.LoggedFood.Name }
    else
    { @String.Empty }
</td>
<td>
    @if (item.LoggedFood != null && item.LoggedFood.Unit != null)
    { @item.LoggedFood.Unit.Name }
    else
    { @String.Empty }
</td>
<td>
    @if (item.LoggedFood != null && item.LoggedFood.Unit != null)
    { @item.LoggedFood.Unit.Plural }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Calories }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Carbs }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Fat }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Fiber }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Protein }
    else
    { @String.Empty }
</td>
<td>
    @if (item.NutritionalValues != null)
    { @item.NutritionalValues.Sodium }
    else
    { @String.Empty }
</td>
</tr>
        }
    </tbody>
</table>