﻿@model FitTracker.Web2.Models.Home.TotalRunkeeperModel

@{
    ViewBag.Title = "Result Runkeeper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<h2>@Model.Message</h2>

<h3>Profile info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Location</th>
            <th>AthleteType</th>
            <th>Gender</th>
            <th>Birthday</th>
            <th>Elite</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Profile.UserId</td>
            <td>@Model.Profile.Name</td>
            <td>@Model.Profile.Location</td>
            <td>@Model.Profile.AthleteType</td>
            <td>@Model.Profile.Gender</td>
            <td>@Model.Profile.Birthday.Value.ToString("dd.MM.yyyy")</td>
            <td>
                @if (Model.Profile.Elite)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </td>
        </tr>
    </tbody>
</table>

<h3>Background Activities Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BackgroundActivities)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Diabetes Measurements Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DiabetesMeasurements)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>General Measurements Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GeneralMeasurements)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Nutrition Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nutrition)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Sleep Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sleep)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Weight Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Measurement</th>
            <th>Type</th>
            <th>Timestamp</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Weight)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Measurement</td>
                <td>@item.Type</td>
                <td>@item.Timestamp</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Strength Training Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>StartTime</th>
            <th>TotalCalories</th>
            <th>Notes</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StrengthTraining)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.StartTime</td>
                <td>@item.TotalCalories</td>
                <td>@item.Notes</td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Exercises Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>StrengthTrainingId</th>
            <th>PrimaryType</th>
            <th>SecondaryType</th>
            <th>PrimaryMuscleGroup</th>
            <th>SecondaryMuscleGroup</th>
            <th>Routine</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exercises)
        {
            <tr>
                <td>@item.StrengthTrainingId</td>
                <td>@item.PrimaryType</td>
                <td>@item.SecondaryType</td>
                <td>@item.PrimaryMuscleGroup</td>
                <td>@item.SecondaryMuscleGroup</td>
                <td>@item.Routine</td>
                <td>@item.Notes</td>
            </tr>
        }
    </tbody>
</table>

<h3>Sets Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>ExerciseId</th>
            <th>Weight</th>
            <th>Repetitions</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sets)
        {
            <tr>
                <td>@item.ExerciseId</td>
                <td>@item.Weight</td>
                <td>@item.Repetitions</td>
                <td>@item.Notes</td>
            </tr>
        }
    </tbody>
</table>

<h3>Fitness Activities Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Type</th>
            <th>SecondaryType</th>
            <th>Equipment</th>
            <th>StartTime</th>
            <th>TotalDistance</th>
            <th>Duration</th>
            <th>AverageHeartRate</th>
            <th>TotalCalories</th>
            <th>Climb</th>
            <th>Notes</th>
            <th>IsLive</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FitnessActivities)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Type</td>
                <td>@item.SecondaryType</td>
                <td>@item.Equipment</td>
                <td>@item.StartTime</td>
                <td>@item.TotalDistance</td>
                <td>@item.Duration</td>
                <td>@item.AverageHeartRate</td>
                <td>@item.TotalCalories</td>
                <td>@item.Climb</td>
                <td>@item.Notes</td>
                <td>
                    @if(item.IsLive)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>@item.Source</td>
            </tr>
        }
    </tbody>
</table>

<h3>Distances Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>FitnessActivitiesId</th>
            <th>Distance</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Distances)
        {
            <tr>
                <td>@item.FitnessActivitiesId</td>
                <td>@item.Distance</td>
                <td>@item.Timestamp</td>
            </tr>
        }
    </tbody>
</table>

<h3>HeartRates Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>FitnessActivitiesId</th>
            <th>HeartRate</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HeartRates)
        {
            <tr>
                <td>@item.FitnessActivitiesId</td>
                <td>@item.HeartRate</td>
                <td>@item.Timestamp</td>
            </tr>
        }
    </tbody>
</table>

<h3>Calories Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>FitnessActivitiesId</th>
            <th>Calories</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CaloriesMod)
        {
            <tr>
                <td>@item.FitnessActivitiesId</td>
                <td>@item.Calories</td>
                <td>@item.Timestamp</td>
            </tr>
        }
    </tbody>
</table>

<h3>Path Info</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>FitnessActivitiesId</th>
            <th>Timestamp</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Altitude</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Path)
        {
            <tr>
                <td>@item.FitnessActivitiesId</td>
                <td>@item.Timestamp</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>@item.Altitude</td>
                <td>@item.Type</td>
            </tr>
        }
    </tbody>
</table>