﻿@model FitTracker.Web2.Models.Home.TotalJawboneModel

@{
    ViewBag.Title = "Result Jawbone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<h2>@Model.Message</h2>

<h3>Body Events</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>Note</th>
            <th>LeanMass</th>
            <th>Weight</th>
            <th>BodyFat</th>
            <th>BMI</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BodyEvents)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.Note</td>
                <td>@item.LeanMass</td>
                <td>@item.Weight</td>
                <td>@item.BodyFat</td>
                <td>@item.BMI</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Customs</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>Image</th>
            <th>Description</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customs)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.Image</td>
                <td>@item.Description</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Goals</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>MoveSteps</th>
            <th>SleepTotal</th>
            <th>BodyWeight</th>
            <th>BodyWeightIntent</th>
            <th>IntakeCaloriesRemaining</th>
            <th>MoveStepsRemaining</th>
            <th>SleepSecondsRemaining</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goals)
        {
            <tr>
                <td>@item.MoveSteps</td>
                <td>@item.SleepTotal</td>
                <td>@item.BodyWeight</td>
                <td>@item.BodyWeightIntent</td>
                <td>@item.IntakeCaloriesRemaining</td>
                <td>@item.MoveStepsRemaining</td>
                <td>@item.SleepSecondsRemaining</td>
            </tr>
        }
    </tbody>
</table>

<h3>HeartRates</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>RestingHeartrate</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HeartRates)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.RestingHeartrate</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Meals</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Note</th>
            <th>Type</th>
            <th>SubType</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>NumDrinks</th>
            <th>NumWater</th>
            <th>NumFoods</th>
            <th>OnlyWaters</th>
            <th>NumMealitemsGreen</th>
            <th>NumMealitemsYellow</th>
            <th>NumMealitemsRed</th>
            <th>NumMealitemsWithScore</th>
            <th>Fiber</th>
            <th>PolyunsaturatedFat</th>
            <th>Potassium</th>
            <th>Fat</th>
            <th>Carbohydrate</th>
            <th>SaturatedFat</th>
            <th>Protein</th>
            <th>MonounsaturatedFat</th>
            <th>Sodium</th>
            <th>VitaminC</th>
            <th>VitaminA</th>
            <th>Calories</th>
            <th>UnsaturatedFat</th>
            <th>Sugar</th>
            <th>Calcium</th>
            <th>Iron</th>
            <th>Cholesterol</th>
            <th>Caffeine</th>
            <th>Accuracy</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meals)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Note</td>
                <td>@item.Type</td>
                <td>@item.SubType</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.NumDrinks</td>
                <td>@item.NumWater</td>
                <td>@item.NumFoods</td>
                <td>@item.OnlyWaters</td>
                <td>@item.NumMealitemsGreen</td>
                <td>@item.NumMealitemsYellow</td>
                <td>@item.NumMealitemsRed</td>
                <td>@item.NumMealitemsWithScore</td>
                <td>@item.Fiber</td>
                <td>@item.PolyunsaturatedFat</td>
                <td>@item.Potassium</td>
                <td>@item.Fat</td>
                <td>@item.Carbohydrate</td>
                <td>@item.SaturatedFat</td>
                <td>@item.Protein</td>
                <td>@item.MonounsaturatedFat</td>
                <td>@item.Sodium</td>
                <td>@item.VitaminC</td>
                <td>@item.VitaminA</td>
                <td>@item.Calories</td>
                <td>@item.UnsaturatedFat</td>
                <td>@item.Sugar</td>
                <td>@item.Calcium</td>
                <td>@item.Iron</td>
                <td>@item.Cholesterol</td>
                <td>@item.Caffeine</td>
                <td>@item.Accuracy</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Moods</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Type</th>
            <th>SubType</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>

            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Moods)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>@item.SubType</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Moves</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Type</th>
            <th>SnapshotImage</th>
            <th>Distance</th>
            <th>Km</th>
            <th>Steps</th>
            <th>ActiveTime</th>
            <th>LongestActive</th>
            <th>InactiveTime</th>
            <th>LongestIdle</th>
            <th>Calories</th>
            <th>BmrDay</th>
            <th>Bmr</th>
            <th>BgCalories</th>
            <th>WoCalories</th>
            <th>WoTime</th>
            <th>WoActiveTime</th>
            <th>WoCount</th>
            <th>WoLongest</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Moves)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Date</td>
                <td>@item.Type</td>
                <td>@item.SnapshotImage</td>
                <td>@item.Distance</td>
                <td>@item.Km</td>
                <td>@item.Steps</td>
                <td>@item.ActiveTime</td>
                <td>@item.LongestActive</td>
                <td>@item.InactiveTime</td>
                <td>@item.LongestIdle</td>
                <td>@item.Calories</td>
                <td>@item.BmrDay</td>
                <td>@item.Bmr</td>
                <td>@item.BgCalories</td>
                <td>@item.WoCalories</td>
                <td>@item.WoTime</td>
                <td>@item.WoActiveTime</td>
                <td>@item.WoCount</td>
                <td>@item.WoLongest</td>
                <td>@item.Sunrise</td>
                <td>@item.Sunset</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>MovesTicks</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Distance</th>
            <th>TimeCompleted</th>
            <th>ActiveTime</th>
            <th>Calories</th>
            <th>Steps</th>
            <th>Time</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovesTicks)
        {
            <tr>
                <td>@item.Distance</td>
                <td>@item.TimeCompleted</td>
                <td>@item.ActiveTime</td>
                <td>@item.Calories</td>
                <td>@item.Steps</td>
                <td>@item.Time</td>
                <td>@item.Speed</td>
            </tr>
        }
    </tbody>
</table>

<h3>Sleeps</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>SubType</th>
            <th>Type</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>SnapshotImage</th>
            <th>SmartAlarmFire</th>
            <th>AwakeTime</th>
            <th>AsleepTime</th>
            <th>Awakenings</th>
            <th>Rem</th>
            <th>Light</th>
            <th>Sound</th>
            <th>Awake</th>
            <th>Duration</th>
            <th>Quality</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sleeps)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.SubType</td>
                <td>@item.Type</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.SnapshotImage</td>
                <td>@item.SmartAlarmFire</td>
                <td>@item.AwakeTime</td>
                <td>@item.AsleepTime</td>
                <td>@item.Awakenings</td>
                <td>@item.Rem</td>
                <td>@item.Light</td>
                <td>@item.Sound</td>
                <td>@item.Awake</td>
                <td>@item.Duration</td>
                <td>@item.Quality</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>

<h3>Workouts</h3>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>SubType</th>
            <th>Type</th>
            <th>Date</th>
            <th>PlaceLat</th>
            <th>PlaceLon</th>
            <th>PlaceAcc</th>
            <th>PlaceName</th>
            <th>Route</th>
            <th>Image</th>
            <th>SnapshotImage</th>
            <th>Steps</th>
            <th>Time</th>
            <th>BgActiveTime</th>
            <th>Meters</th>
            <th>Km</th>
            <th>Intensity</th>
            <th>Calories</th>
            <th>Bmr</th>
            <th>BgCalories</th>
            <th>BmrCalories</th>
            <th>Timezone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workouts)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.SubType</td>
                <td>@item.Type</td>
                <td>@item.Date</td>
                <td>@item.PlaceLat</td>
                <td>@item.PlaceLon</td>
                <td>@item.PlaceAcc</td>
                <td>@item.PlaceName</td>
                <td>@item.Route</td>
                <td>@item.Image</td>
                <td>@item.SnapshotImage</td>
                <td>@item.Steps</td>
                <td>@item.Time</td>
                <td>@item.BgActiveTime</td>
                <td>@item.Meters</td>
                <td>@item.Km</td>
                <td>@item.Intensity</td>
                <td>@item.Calories</td>
                <td>@item.Bmr</td>
                <td>@item.BgCalories</td>
                <td>@item.BmrCalories</td>
                <td>@item.Timezone</td>
            </tr>
        }
    </tbody>
</table>