﻿@model List<FitTracker.WebTest.Models.FitnessModel>

@{
    ViewBag.Title = "GetFitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fitness</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>type</th>
            <th>intensity</th>
            <th>start_time</th>
            <th>distance</th>
            <th>duration</th>
            <th>calories</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.type</td>
                <td>@item.intensity</td>
                <td>@item.start_time</td>
                <td>@item.distance</td>
                <td>@item.duration</td>
                <td>@item.calories</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>