﻿@model List<FitTracker.WebTest.Models.NutritionModel>

@{
    ViewBag.Title = "GetNutrition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nutritions</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>_userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>calories</th>
            <th>carbohydrates</th>
            <th>fat</th>
            <th>fiber</th>
            <th>protein</th>
            <th>sodium</th>
            <th>water</th>
            <th>meal</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.calories</td>
                <td>@item.carbohydrates</td>
                <td>@item.fat</td>
                <td>@item.fiber</td>
                <td>@item.protein</td>
                <td>@item.sodium</td>
                <td>@item.water</td>
                <td>@item.meal</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>

