﻿@model List<FitTracker.WebTest.Models.PulseModel>

@{
    ViewBag.Title = "GetPulse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pulse</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>diastolic_blood_pressure</th>
            <th>systolic_blood_pressure</th>
            <th>heart_pulse</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.diastolic_blood_pressure</td>
                <td>@item.systolic_blood_pressure</td>
                <td>@item.heart_pulse</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>