﻿@model List<FitTracker.WebTest.Models.RoutineModel>

@{
    ViewBag.Title = "GetRoutine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Routines</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>_userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>steps</th>
            <th>distance</th>
            <th>floors</th>
            <th>elevation</th>
            <th>calories_burned</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.steps</td>
                <td>@item.distance</td>
                <td>@item.floors</td>
                <td>@item.elevation</td>
                <td>@item.calories_burned</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>

