﻿@model List<FitTracker.WebTest.Models.SleepModel>

@{
    ViewBag.Title = "GetSleep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sleep</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>_userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>awake</th>
            <th>deep</th>
            <th>light</th>
            <th>rem</th>
            <th>total_sleep</th>
            <th>times_woken</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.awake</td>
                <td>@item.deep</td>
                <td>@item.light</td>
                <td>@item.rem</td>
                <td>@item.total_sleep</td>
                <td>@item.times_woken</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>

