﻿@model List<FitTracker.WebTest.Models.WeightModel>

@{
    ViewBag.Title = "GetWeight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weights</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>_userId</th>
            <th>timestamp</th>
            <th>utc_offset</th>
            <th>weight</th>
            <th>height</th>
            <th>free_mass</th>
            <th>fat_percent</th>
            <th>mass_weight</th>
            <th>bmi</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._userId</td>
                <td>@item.timestamp</td>
                <td>@item.utc_offset</td>
                <td>@item.weight</td>
                <td>@item.height</td>
                <td>@item.free_mass</td>
                <td>@item.fat_percent</td>
                <td>@item.mass_weight</td>
                <td>@item.bmi</td>
                <td>@item.source</td>
            </tr>
        }
    </tbody>
</table>



