﻿@model List<FitTracker.WebTest.Models.UserViewModel>

@{
    ViewBag.Title = "Link Page";
}

<h2>Users</h2>

<div class="row">
    <a href="/Home/NewUser" class="btn btn-default">+ New User</a>
</div>

<div class="row">
    <table data-toggle="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Bearer Token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UniqueId</td>
                    <td>@item.Username</td>
                    <td>@item.Password</td>
                    <td>@item.ShortToken</td>
                    <td>
                        <a href="/Home/GetToken?guid=@item.UniqueId">Get Token</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/ConnectTrackers?token=@item.Token" target="_blank">Trackers</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/DeleteUser?userId=@item.UniqueId">Delete</a>
                        <br />
                        <a href="/Home/GetNutrition?token=@item.Token">Nutritions</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/GetWeight?token=@item.Token">Weights</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/GetRoutine?token=@item.Token">Routines</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/GetFitness?token=@item.Token">Fitness</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/GetPulse?token=@item.Token">Pulse</a>
                        &nbsp;|&nbsp;
                        <a href="/Home/GetSleep?token=@item.Token">Sleep</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>