﻿@model FitTracker.Web2.Models.Connectors.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connectors</h2>

<table data-toggle="table">
    <thead>
        <tr>
            <th>
                <img src="../../Content/img/fitbit_logo.png">&nbsp;Fitbit
            </th>
            <th>
                <img src="../../Content/img/withings_logo.png">&nbsp;Withings
            </th>
            <th>
                <img src="../../Content/img/jawbone_logo.png">
            </th>
            <th>
                <img src="../../Content/img/mobile-index-rk-logo.png">
            </th>
            <th>
                <img src="../../Content/img/stravaLogo.png">
            </th>
            <th>
                <img src="../../Content/img/Logo_Misfit.png">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (Model.HasFitbit)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Fitbit", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Fitbit Subscription", "Authorize", "Fitbit", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
            <td>
                @if (Model.HasWithings)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Withings", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Withings Subscription", "Authorize", "Withings", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
            <td>
                @if (Model.HasJawbone)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Jawbone", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Jawbone Subscription", "Authorize", "Jawbone", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
            <td>
                @if (Model.HasRunkeeper)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Runkeeper", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Runkeeper Subscription", "Authorize", "Runkeeper", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
            <td>
                @if (Model.HasStrava)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Strava", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Strava Subscription", "Authorize", "Strava", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
            <td>
                @if (Model.HasMisfit)
                {
                    <span>@Html.ActionLink("Disconnect", "Disconnect", "Misfit", new { userId = Model.UserId, token = Model.AccessToken }, new { })</span>
                }
                else
                {
                    <span>@Html.ActionLink("Add Misfit Subscription", "Authorize", "Misfit", new { userId = Model.UserId, callbackUrlRemote = Model.CallbackUrlRemote }, new { })</span>
                }
            </td>
        </tr>
    </tbody>
</table>

