﻿@model FitTracker.Web2.Models.Applicant.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applications</h2>

<div class="row">
    <a href="@Url.Action("Register", "Applicant", new {userId = Model.UserId})" class="btn btn-default">New App</a>
</div>

<div class="row">
    <table data-toggle="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Consumer Key</th>
            <th>Consumer Secret</th>
            <th>Notification Url</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Applicants)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.ConsumerKey</td>
                <td>@item.ConsumerSecret</td>
                <td>@item.NotificationUrl</td>
                <td>
                    <a href="/Applicant/Update?appId=@item.AppId">Edit</a>
                    &nbsp;|&nbsp;
                    <a href="/Applicant/Delete?appId=@item.AppId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
