﻿@model FitTracker.Web2.Models.Applicant.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New App</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Applicant", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "App creation was unsuccessful. Please correct the errors and try again.")
            <div>
                <fieldset>
                    <legend>App Information</legend>

                    @Html.HiddenFor(m => m.AppId)
                    @Html.HiddenFor(m => m.UserId)

                    <div class="form-group">
                        @Html.LabelFor(m => m.AppName, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.AppName, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.AppName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NotificationUrl, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.NotificationUrl, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NotificationUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Register" class="btn btn-default" />
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

